<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>Madan Mohan</h1>
    </div>
    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="{% link index.html %}">About</a>

      <a class="sidebar-nav-item" href="{% link podcast.html %}">Podcast</a>

      <a class="sidebar-nav-item" href="https://madanmohan.substack.com/" target="_blank">Blog <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i> </a>

      <a class="sidebar-nav-item" href="{% link books.md %}">Favorite Books</a>

      <a class="sidebar-nav-item" href="https://mmuk.notion.site/Lab-Notebook-3498238a2fc447068d725eb237a69547" target="_blank">Notion Lab notebook Template <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>
    </nav>
    <div class="sidebar-footer">
      <ul>
        <li> <a class="item" href="https://instagram.com/madanmohanuk?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a> </li>
        <li> <a class="item" href="https://twitter.com/madanmohanuk" target="_blank"> <i class="fa-brands fa-x-twitter fa-xl"></i></a> </li>
        <li> <a class="item" href="https://github.com/madanmohanuk" target="_blank"> <i class="fa-brands fa-github fa-xl"></i> </a> </li>
      </ul>
    </div>
  </div>
</div>